:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v16-latin-regular.woff2") format("woff2"), url("../fonts/lato-v16-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato-v16-latin-900.woff2") format("woff2"), url("../fonts/lato-v16-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v16-latin-700.woff2") format("woff2"), url("../fonts/lato-v16-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-weight: 400;
}

.header-nav {
  max-width: 100%;
  background-color: #e8ebf1;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header-nav__wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list,
.services-link-list,
.portfolio-link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-list__item a {
  padding: 8px;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  color: #000000;
}
.navigation-list__item a:hover {
  color: #2aacc8;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navigation-list__item {
  margin-left: 16px;
  margin-right: 16px;
  border-top: 5px solid transparent;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown:hover {
  border-top: 5px solid #2aacc8;
  background-color: #ffffff;
}
.dropdown:hover > a {
  color: #2aacc8;
}

.dropdown-icon {
  margin-left: 10px;
  margin-bottom: 3px;
}

.dropdown:hover .portfolio-link-list,
.dropdown:hover .services-link-list {
  display: block;
}

.services-link-list,
.portfolio-link-list {
  display: none;
  position: absolute;
  min-width: 198px;
  background-color: #ffffff;
  border-bottom: 5px solid #2aacc8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.services-link-list > .portfolio-link-list__item,
.portfolio-link-list > .portfolio-link-list__item {
  max-width: 188px;
  margin-left: auto;
  margin-right: auto;
}
.services-link-list > .portfolio-link-list__item > a,
.portfolio-link-list > .portfolio-link-list__item > a {
  display: block;
  text-align: left;
  text-transform: capitalize;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}
.services-link-list > .portfolio-link-list__item > a:hover,
.portfolio-link-list > .portfolio-link-list__item > a:hover {
  color: #2aacc8;
}
.services-link-list > .services-link-list__item,
.portfolio-link-list > .services-link-list__item {
  max-width: 188px;
  margin-left: auto;
  margin-right: auto;
}
.services-link-list > .services-link-list__item > a,
.portfolio-link-list > .services-link-list__item > a {
  display: block;
  text-align: left;
  text-transform: capitalize;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}
.services-link-list > .services-link-list__item > a:hover,
.portfolio-link-list > .services-link-list__item > a:hover {
  color: #2aacc8;
}

.services-link-list__item,
.portfolio-link-list__item:not(:last-of-type) {
  border-bottom: 1px solid #e7e7e7;
}

.header__logo {
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  margin-top: 12px;
  margin-bottom: 11px;
}
.header__logo span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #2aacc8;
}

.header-slider {
  width: 100%;
  background-color: #81e4ed;
  padding-top: 19px;
  padding-bottom: 13px;
}

.header-slider__container {
  max-width: 970px;
  margin: 0 auto;
}

.header-slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-slider__item {
  background-color: #e05936;
  max-width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.header-slider__item-desc {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 60px;
  color: #ffffff;
}

.header-slider_img {
  margin-left: auto;
  margin-top: -27px;
  margin-right: -225px;
}

.header-slider__pagination {
  position: relative;
  top: 0px;
}
.header-slider__pagination > .swiper-pagination-bullet {
  background-color: rgba(98, 98, 98, 0.5);
  opacity: 1;
  color: transparent;
  font-size: 1px;
  width: 14px;
  height: 14px;
  margin-left: 9px;
  margin-right: 9px;
}
.header-slider__pagination > .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.advantages {
  padding-top: 40px;
  padding-bottom: 32px;
  width: 100%;
  background-color: #e8ebf1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.advantages__wrap {
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__list-item {
  max-width: 224px;
}

.advantages__list-item > .list-title {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.advantages__list-item > .list-title img {
  margin-right: 20px;
}

.advantages__list-item > .list-desc {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
}

.advantages__list-item > .list-link > a {
  text-decoration: none;
  font-size: 13px;
  color: #2aacc8;
}

.list-link > a > img {
  margin-right: 8px;
}

.latest-works__wrap {
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.border {
  margin-top: 40px;
  height: 1px;
  border: none;
  background: rgba(0, 0, 0, 0.15);
}

.title-and-slider-btn__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.latest-works__title {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.latest-works__title > img {
  margin-right: 24px;
}

.slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 51px;
}

.swiper-button-next,
.swiper-button-prev {
  margin: 0;
  position: static;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  width: 20px;
  height: 20px;
  font-size: 11px;
  font-weight: 900;
  color: #434343;
  background-color: #81e4ed;
  border-radius: 50%;
}

.swiper-button-next::after {
  padding-top: 4px;
  padding-left: 7px;
}

.swiper-button-prev::after {
  padding-top: 4px;
  padding-left: 6px;
}

.latest-works__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.latest-works__slider-item {
  width: 220px;
  height: 160px;
  overflow: hidden;
  position: relative;
}
.latest-works__slider-item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.latest-works__slider-item:hover > .back-links {
  bottom: 0;
}

.back-links {
  background-color: #2aacc8;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.back-links > a {
  display: block;
  text-align: center;
  margin-left: 17px;
  margin-right: 17px;
}

.testimonials-and-clients {
  margin-top: -4px;
}

.testimonials-and-clients__wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials,
.clients {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.testimonials__title,
.clients__title {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.testimonials__title > img,
.clients__title > img {
  margin-right: 15px;
}

.testimonials__title {
  margin-top: 18px;
  margin-bottom: 10px;
}

.clients__table {
  border-collapse: collapse;
  border: 1px solid #e8ebf1;
  border-bottom: none;
  border-right: none;
}

.clients__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__table-cell {
  border-right: 1px solid #e8ebf1;
  border-bottom: 1px solid #e8ebf1;
  height: 100px;
  width: 158px;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 0;
}
.clients__table-cell > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blockquote {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
  margin-bottom: 24px;
  margin-top: 0;
  color: #363636;
}

.source-quote {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
  color: #363636;
}

.note__wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
}

.note__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e8fcfe;
  border: 1px solid #81e4ed;
  padding: 30px;
  padding-right: 39px;
}

.note__desc {
  max-width: 616px;
  line-height: 26px;
  font-size: 16px;
  color: #363636;
  margin-top: 0;
  margin-bottom: 0;
}

.note__btn {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #2aacc8;
  border-radius: 8px;
  padding: 0;
  background-color: #2aacc8;
}
.note__btn > a {
  -webkit-box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.2);
  border-radius: inherit;
  background: -webkit-gradient(linear, left bottom, left top, from(#2aacc8), color-stop(15%, #60cede), color-stop(50%, #72dae6), to(#81e4ed));
  background: linear-gradient(to top, #2aacc8, #60cede 15%, #72dae6 50%, #81e4ed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  font-size: 18px;
}
.note__btn > a > img {
  margin-right: 22px;
}
.note__btn:hover > a {
  background: -webkit-gradient(linear, left bottom, left top, from(#81e4ed), to(#2aacc8));
  background: linear-gradient(to top, #81e4ed, #2aacc8);
}

.footer {
  background-color: #e8ebf1;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.footer__wrap {
  padding-top: 10px;
  padding-bottom: 23px;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__list {
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.footer__list-title > .about-us__desc {
  max-width: 240px;
  font-size: 14px;
  line-height: 17px;
  margin-top: 21px;
  color: #363636;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

.footer__list-title > h4 {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.explore__list,
.browse__list,
.contact-us__list {
  list-style-type: none;
  padding-left: 0;
}

.explore__list-item > a,
.browse__list-item > a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: #363636;
}

.contact-us__list-item > h5 {
  margin-bottom: 0;
  margin-top: 19px;
  color: #363636;
}

.contact-us__list-address {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 14px;
  color: #363636;
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

.contact-us__list-phone,
.contact-us__list-fax {
  color: #363636;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.contact-us__list-phone {
  margin-bottom: 0;
}

.contact-us__list-fax {
  margin-top: 0;
}

.social-links__table-cell {
  padding-left: 8px;
  padding-right: 8px;
}

.social-links__table {
  width: 193px;
  margin-top: 16px;
  margin-left: -20px;
}

.social-links__table-row {
  padding-bottom: 12;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__desc {
  max-width: 648px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #363636;
}

.copyright__logo {
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  margin-top: 12px;
  margin-bottom: 11px;
}
.copyright__logo span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #2aacc8;
}
