$light-gray: #e8ebf1;
$smoke: #e7e7e7;
$white: #ffffff;
$medium-black: #626262;
$dark-gray: #434343;
$black-70: #363636;
$black: #000000;
$pacific-blue: #2aacc8;
$light-turquoise: #e8fcfe;
$turquoise: #81e4ed;
$orange: #e05936;

// для градиентной кнопки: 
$first_color: #2aacc8; // 0%
$second_color: #60cede; // 15%
$third_color: #72dae6; // 50%
$fourth_color: #81e4ed; // 100%