:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}

@import "fonts";
@import "mixins";
@import "colors";

body {
    @include arial-regular;
    font-weight: 400;
}

@import "blocks/header";